@model Quizzy.Models.Tests.ResultCardViewModel
@{
	Layout = "_Layout";
	ViewData["stylesheet"] = "tests/resultcard.css";
}

<div class="result-card">
	<h3 class="full-name">@Model.FullName</h3>

	<div class="progress-bar">
		<div class="progress" style="width:@Model.SuccessPercentage%"></div>
	</div>

	<p><strong>Score:</strong> @Model.Points / @Model.TotalPoints</p>
	<p><strong>Success Rate:</strong> @Model.SuccessPercentage %</p>
	<p><strong>Time Spent:</strong> @Model.TimeSpent.ToString(@"hh\:mm\:ss")</p>
	<p><strong>Time Per Question:</strong> @Model.TimePerQuestion.ToString(@"hh\:mm\:ss")</p>
</div>